@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
div {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.big-text {
  font-size: clamp(1.875rem, 2vw + 2.4rem, 4.375rem);
}
.h1-text {
  font-size: clamp(1.5rem, 3vw + 0.5rem, 4.375rem);
  font-weight: 700;
}
.h2-text {
  font-size: clamp(1.25rem, 1vw + 1rem, 2.25rem);
  font-weight: 600;
}
.h4-text {
  font-size: clamp(1rem, 1vw + 0.6rem, 1.563rem);
}
.p-text {
  font-size: clamp(0.938rem, 1vw + 0.6rem, 1.25rem);
}
.h4-fixed {
  font-size: 18px;
}
.p-fixed {
  font-size: 16px;
}
.nav-text {
  font-size: clamp(0.75rem, 0.5vw + 0.5rem, 1.125rem);
  font-weight: 700;
}
