@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica/HelveticaNeueLTStd-MdEx.otf");
}
/* * {
  box-sizing: border-box;
  font-family: "Helvetica";
} */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
div {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}

body {
  background-size: cover;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
.big-text {
  font-size: clamp(1.875rem, 2vw + 2.4rem, 4.375rem);
}
.h1-text {
  font-size: clamp(1.25rem, 1vw + 1rem, 1.875rem);
}
.p-tiny-text {
  font-size: clamp(0.625rem, 0.5vw + 0.5rem, 1.25rem);
}
.p-text {
  font-size: clamp(0.938rem, 0.1vw + 0.9rem, 1.25rem);
}

.timer {
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.71);
}

* {
  @apply font-Helvetica;
}
.button {
  @apply border border-sec text-sec px-5 lg:px-20 py-2 lg:py-4 p-text hover:border-pri hover:text-pri transition-all duration-300;
}
.timer {
  @apply bg-sec w-[70px] h-[50px] text-center;
}
input::placeholder {
  color: rgba(30, 30, 30, 0.57);
  font-weight: 300;
}
.text-color {
  color: rgba(30, 30, 30, 0.57);
  font-weight: 300;
}
.input {
  @apply w-full p-3 h-[30px] lg:h-[50px]  outline-none border-pri_dark bg-transparent border;
}
/* animation*/
.animate {
  /* These properties specify the initial state of the bar */
  height: 5px;
  width: 100%;

  /* These properties specify the animation */
  animation: fill-bar 5s linear infinite;
}

/* This keyframe rule defines the animation */
@keyframes fill-bar {
  /* These values specify the start and end states of the animation */
  0% {
    width: 1%;
  }
  25% {
    width: 100%;
  }
  40% {
    width: 1%;
    margin-right: 20px;
  }
  45% {
    width: 1%;
    margin-left: auto;
  }
  50% {
    width: 1%;
    margin-right: 0;
    margin-left: auto;
  }
  75% {
    width: 100%;
  }
  90% {
    width: 1%;
    margin-left: 20px;
  }
  95% {
    width: 1%;
    margin-right: auto;
  }
  100% {
    width: 1%;
  }
}
