.background {
  background-image: url("/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.background::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(44, 78, 134, 1);
  width: 100%;
  height: auto;
  z-index: -1;
  -webkit-filter: blur(8px);
}
.text {
  z-index: 3;
  color: white;
  padding-top: 20%;
  padding-bottom: 5%;
}
.changelocale {
  transition: transform 0.5s 0;
}
.removed {
  transform: translateY(-20px);
}
.slideInOut {
  /* These properties specify the element's starting position and size */
  position: absolute;
  height: 100px;

  top: 0;

  /* These properties specify the transition effect */
  transition: all 0.5s ease-in-out;
}

/* This rule will be applied when the element is not being hovered over */
.slideInOut:not(:hover) {
  /* These properties specify the element's ending position and size */

  left: 0;
  margin-top: 5px;
}
